<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
    </head>
    <%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
    <body>
      <div style="display:flex; margin-top: 20px; width:fit-content;">
         <div>
            <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="500" height="333">
         </div>
         <div style="margin-left: 30px">
            <P style="font-size: 30px"> Myself Parita Shah. Currently I am studying in Centennial college and involed in the program of Software Engineering Technology - AI. This is my first year in college. Previously I was living in India and over there I have completed my BCA and having 3 years of IT compnay experience.</P>
         </div>
      </div>
      <div>
        <h1>Resume Link</h1>
      </div>
    </body>
    <%- include partials/bottom_nav.ejs %>  
    <%- include partials/footer.ejs %>
</html>