<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
</head>
<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <body>
      <div class="jumbotron">
        <div style="display:flex; margin-top: 20px; width:fit-content;">
          <div>
            <img src="../public/Assets/images/profile.jpeg" width="400px" height="300px">
          </div>
          <div style="margin-left: 30px">
            <P style="font-size: 20px"> As beign a mobile developer I had worked on many projects which includes the
              both android and IOS app. Alongwith this I have worked on several other technologies. During this time period
              working on several project I had good experience in many technologies like nodejs, react native,
              reactjs.Algonwith with this I had worked with many customer to fullfill there services and satisfaction
              related to the project. WOrking with different customer needs is a good experience to learn new things with helps me a lot in developing my knowledge.
            </P>
          </div>

        </div>
        <div>
          <a href="https://online.flippingbook.com/view/201876353/">
            Resume Link</a>
        </div>
      </div>

    </body>
    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>

</html>