<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1>Introduction</h1>
      <p class="display-4" style="font-size: 20px">I am Parita Shah. Welcome to my blog.In this blog I have mention the different types of project which I have done and also the services which I am being using in that particular project.</p>
      
    </div>
    <div class="jumbotron">
      <h1>Mission</h1>
      <p class="display-4" style="font-size: 20px">I am Parita Shah. Welcome to my blog.In this blog I have mention the different types of project which I have done and also the services which I am being using in that particular project.</p>
      
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




