<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1>Introduction</h1>
        <p class="display-4" style="font-size: 20px">I am Parita Shah, who is connected with the different IT companies
          from around last 2.5 year. The journery of this years will be remember always. As during this time I meet with
          different customer and glad to completed their servies with my efforts. I am glad to connect with the people
          to give them best services and gain their trust.</p>
      </div>
      <div class="jumbotron">
        <h1>Mission</h1>
        <p class="display-4" style="font-size: 20px">As by fulfilling the customer satisfaction and provide them the
          best services is my main goal. As doing this it will feel me happy and motivated to do more work according to
          the customer needs.</p>

      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>